.tvShowPage
  padding 10px
  width 100%
  background white
  list-style none

.tvShowList
  padding 15px
  margin 11px
  text-align left
  font-size 5rem

.tvShowDetails
  padding 5px
  margin 5px 0px
  text-align left

.tvShowSeasonDetails
  text-align left