.tvShowPage
  padding 10px
  width 100%
  background white
  list-style none

.tvShowList
  padding 15px
  margin 11px
  text-align left
  font-size 5rem

.tvShowDetails
  padding 5px
  margin 5px 0px
  text-align left
  .tvShowCard
    display flex

    .data
      width 60%
      font-size 14px
      h2
        color blue

  .seasonList
    text-align center
    background #E9E9E9
    align-items center
    justify-content center
    display flex
    flex-direction column

    h3
      padding 10px

    a
      padding 5px
      width 100%
      font-size 15px
      display flex

      span
        width 100%
        align-items center
        justify-content center
        display flex


.tvShowSeasonDetails
  text-align left
  display flex

  .episodes
    width 60%

.poster
  width 40%
  display flex
  align-items center
  justify-content center