/*
  Variables
*/

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey // OH Canada!

html
  font-size 15px
  font-family 'Roboto', sans-serif

p
  line-height 1.5

h1
  font-family 'Roboto', sans-serif
  text-align center
  font-weight 100
  font-size 5rem
  margin 2rem 0
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  a
    color blue
    text-decoration none
    &:focus
      outline 0

